/* Reset some default margin and padding */
body, ul {
    margin: 0;
    padding: 0;
}

/* Style the header and navigation bar */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.element {
    width:51px;
    height:51px;
    background-color:yellow;
    display:inline-block;
    margin-right:21px;
    position:relative;
    top:calc(51% - 26px);
 }

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Style main content */
main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    background-color: #f5f5f5;
    padding: 20px;
}

/* Style links in sections */
section a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
   
}

/* Style the footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Style the website image */
.container {
  position: relative;
  text-align: center;
  color: white;

}

.text-overlay {
    
        position: absolute;
        bottom: -15%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'Times New Roman';
        font-style: bold;
        font-size: 20pt;
        color: gainsboro;

}
.lefty{
    text-align: left;
    justify-content: center;
}
.righty{

    display:inline-block;
    margin-right:41px;
    position:inline;
    top:calc(51% - 26px);
}

/* Style the navbar */
.navbar {
    background-color: #333;
    color: #fff;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar li {
    margin: 0 10px;
}

/* Style icons */
.left-icon i, .right-icon i {
    font-size: 24px;
}

/* Style links */
.navbar a {
    text-decoration: none;
    color: #fff;
}

/* Style the specific icon positions */
.left-icon {
    order: -1; /* Moves the left icon to the beginning of the list */
}

.right-icon {
    order: 25; /* Moves the right icon to the end of the list */
}

#contact{
   background-color:grey;
}
#charging
{
    background-color: chartreuse;
}
#about{
    background-color: lightskyblue;
}
.shop{
    background-color: mediumturquoise;
    border: 50px;
   
}